@charset "utf-8";

/* HTML Styles */

html {
    background: fixed linear-gradient(to bottom ,white 20%, black 100%);
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Navigation Styles */

header > nav {
    display: table;
    width: 85%;
    float: right;
    padding-top: 26px;
}

header > nav > ul {
    display: table-row;
    list-style-type: none;
    background-image: linear-gradient(to right, rgb(250, 146, 11) , rgb(250, 177, 41) , rgb(245, 205, 146));
}

header > nav > ul > li {
    display: table-cell;
    text-align: center;
    padding: 7px 0px 7px 0px;
    width: 20%;
    float: left;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: black;
}

header > nav > ul > li > a:hover {
    color: whitesmoke;
}

#navIcon {
    display: none;
}

/* Logo Styles */

.navImg {
    max-width: 15%;
}

/*  Contact Form styles  */

#contact-form {
    font-family: 'Lato', calibri, arial;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    color: #fff;
    overflow: auto;
}

#contact-area {
    width: 450px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 450px;
    font-family: 'Lato', calibri, arial;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid orange;
    margin-bottom: 15px;
    height: 28px;
}

#contact-area textarea {
    height: 200px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid orange;
    border-right: 1px solid transparent;
}

#contact-area textarea:focus,
#contact-area input:focus {
    background-color: #333;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
}

/* Submit button */

#contact-area input.submit-button {
    font-family: 'Lato', calibri, arial;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
    float: left;
    background-color: transparent;
    border: 1px solid orange;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {
    color: #fff;
    background-color: #333;
}

/* Mobile Styles */

@media only screen and (max-width: 520px) {

    a.navImg {
        display: none;
    }

    a#navIcon {
        display: block;
        font-size: 1.3em;
        text-decoration: none;
    }

    nav ul {
        display: none;
    }

    header > nav > ul {
        padding-top: 0;
    }
}

@media only screen and (max-width: 900px) {

    a.navImg {
        display: none;
    }

    a#navIcon {
        display: block;
        font-size: 6em;
        text-decoration: none;
    }

    nav ul {
        display: none;
    }

    header > nav > ul {
        padding-top: 0;
    }
}