@charset "utf-8";

/* HTML Stles */


/* Navigation Styles */

header > nav {
    display: table;
    width: 100%;
}

header > nav > ul {
    display: table-row;
    list-style-type: none;
}

header > nav > ul > li {
    display: table-cell;
    text-align: center;
}

header > nav > ul > li > a{
    text-decoration: none;
}

/* Body Style */


/* Footer Styles */